.profileWrapper {
  color: var(--texts);
  display: flex;
  flex-direction: column;
}

.profileLink {
  color: var(--texts);
  text-decoration: none;
  transition: color 0.5s;

  @media screen and (max-width: $mediaLarge) {
    display: flex;
    text-align: left;
  }

  &:hover {
    color: #1fa1f2;
  }
}

.profileAuthor {
  font-size: rem(25.6px);
  margin: rem(8px auto);

  @media screen and (max-width: $mediaLarge) {
    font-size: 1.2rem;
    margin: 0 0 0 10px;
  }
}

.profilePosition {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0.2rem;

  @media screen and (max-width: $mediaLarge) {
    font-size: 0.8rem;
  }
}

.profileDescription {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;

  @media screen and (max-width: $mediaLarge) {
    display: none;
  }
}
