@import '~sass-rem/rem';
@import './reset.scss';

$postColor: #fff;

$main-bg-color: #16202c;
$highlight: #1fa1f2;
$texts: #8899a6;
$borders: #38444d;

// Media Queries
$mediaHuge: '1440px';
$mediaLarge: '1170px';
$mediaMedium: '768px';
$mediaSmall: '450px';

body {
  background: #16202c;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}
