.menuLinksWrapper {
  @media screen and (max-width: $mediaLarge) {
    display: none;
  }
}

.menuLinksList {
  font-size: 18px;
  font-weight: 300;

  .menuLinksItem {
    padding: rem(8px 0);
  }
}

.menuLinksLink {
  color: var(--texts);
  text-decoration: none;
  transition: color 0.5s;

  &.menuLinksItemActive {
    color: var(--highlight);
  }

  &:hover {
    color: var(--highlight);
  }
}
